.DS_Store
.cache
.vs
.vscode
.deps
.libs
*~
*.swp
*.swo

*.a
*.app
*.dll
*.dylib
*.exe
*.gch
*.lib
*.o
*.o.*
*.obj
*.out
*.pch
*.pdb
*.s
*.so
*.so.*
*.lo
*.la

[Bb]in/
[Dd]ebug/
[Ll]ib/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Oo]ut/
[Rr]elease/
[Mm]4/
autom4te.cache/

config.cache
config.log
config.status
config.guess
config.sub
configure
libtool
stamp-h?
Makefile.in
ar-lib
compile
depcomp
ltmain.sh
install-sh
missing
aclocal.m4
libtool.m4
lt~obsolete.m4
ltoptions.m4
ltsugar.m4
ltversion.m4

# Common Python virtual environment and cache directory names
venv
py??
__pycache__/

compile_commands.json
