.DS_Store
.cache
.vs
.vscode
*~
*.swp
*.swo

*.a
*.app
*.dll
*.dylib
*.exe
*.gch
*.lib
*.o
*.o.*
*.obj
*.out
*.pch
*.pdb
*.s
*.so
*.so.*

[Bb]in/
[Dd]ebug/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Oo]ut/
[Rr]elease/
x64/
x86/
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CMakeUserPresets.json
CTestTestfile.cmake
Testing
_deps
cmake_install.cmake
install_manifest.txt
compile_commands.json
*.json

